.muscle-groups svg {
  position: absolute;
  right: 25rem;
  /* bottom: 7em; */
  height: 500px;
  z-index: 100;
}
.muscle-groups svg g[id] path {
  opacity: 0.4;
  transition: opacity 0.25s ease-in-out;
}
.muscle-groups svg g g[id]:hover path {
  cursor: pointer;
  opacity: 0.8;
  fill: #ff0000 !important;
}
.muscle-groups .muscles-helper {
  display: none;
}